@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  background: radial-gradient(circle, $color5, $color2);
  // padding-top: 70px;
}

h1, h2 {
  font-family: 'Nanum Gothic', sans-serif;
  color: $color1;
  font-weight: bolder;
  padding-top: 50px;
  padding-bottom: 10px;
}

.navMenuItem {
  font-family: 'Nanum Gothic', sans-serif;
}

.destinationCard {
  margin: 10px;
}

.hide {
  display: none;
}

.centeredSection {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

.diaryCard {
  width: 100%;
}

.iconLarge {
  font-size: 2em;;
}

.unvisitedDestination {
  background-color: $color1;
  color: $color5;
}

.visitedDestination {
  background-color: $color5;
  color: $color1;
}

.legend {
  color: $color1;
  font-style: italic;
}
