@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: #d5daa9;
}

.hide {
  display: none;
}

.centeredSection {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

.diaryCard {
  width: 100%;
}

.iconLarge {
  font-size: 2em;;
}
